
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body {font-family: 'Roboto',sans-serif;}
a, a:hover{text-decoration:none;}
a{transition : all .5s ease-out 0s; -webkit-transition:all .5s ease-out 0s;}
a:focus, a:hover {
    color: #df8d54;
}
.cus-header{width:100%; display:inline-block; background-color:#231f20; padding:0px;transition: all 0.4s ease;-webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;}
 
.logo img{transition: all 0.4s ease;-webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;}

.sticky{position:fixed; top:0px; width:100%; z-index:99;left:0; right:0;height:100px;transition: height 0.4s ease-in;-webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;}
.sticky .logo img{width:100px;transition: all 0.4s ease; -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;}
.sticky .search{margin-top:17px;transition: all 0.4s ease; -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;}
.sticky .menu {
    margin-top: 19px;transition: all 0.4s ease; -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.custome-nav{position:fixed; width:100%; height:100%;z-index:99; background:rgba(0,0,0,0.6);left:0; right:0;display:none;}

.cust-nav{padding:0px;padding:10px;}
.cust-nav li {display:block;text-align:center;}
.cust-nav li a{color:#fff; padding:4px 0px;font-size:30px;}
.menu-toggle{cursor:pointer;}
.menu-toggle span {color: #fff; float: left; font-size: 18px; margin-left: 15px; margin-top: -3px;text-transform: uppercase;font-weight: 400;}
.menu-toggle img {float: left;}
.menu {float: left; margin-top:8px;}
.heading {display: inline-block; margin: 20px 0; text-align: center; width: 100%;}

img{max-width:100%;}
.language a {
      color: #ffffff;
    font-size: 14px;
    padding: 0px 10px;
}
.language {
    float: left;
    width: auto;
    padding: 13px 0px 0px;
}
.header-info ul {
    float: left;
    width: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.header-info ul li {
    list-style: none;
    float: left;
} 
.header-info ul li a {
    color: #ffffff;
    float: left;
    width: auto;
    text-transform: uppercase;
    padding: 0px 8px;
    line-height: 54px;
    text-decoration: none;
    font-size: 14px;
	margin: 0 25px 0  0;
}
.header-info ul li:last-child a{margin:0;}
.language img {
    padding-right: 2px;
    vertical-align: bottom;
}
 .padhead-top {
    padding: 10px 0px;
}
.header-info ul li.active a, .header-info ul li a:hover {
    background: #5cb6d0;
}
/*---------------------banner----------------------------------*/
.banner {
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    width: 100%;    padding: 7% 0px 0px;
    background-size: cover;
	background-position: center center;
}

.banner  h1 {
    color: #ffffff;float: left;
    width: 100%;font-weight: 400;
    font-size: 30px;line-height: normal;
    text-transform: uppercase;
}
.banner p {
    width: 100%;
    color: #ffffff;
    font-size: 20px;
    padding: 0;
    margin: 0;
    line-height: 40px;
    float: left;
}
.banner h3 {
    width: 100%;
    color: #ffffff;
    float: left;
    font-size: 22px;
    font-weight: 500;
    line-height: 10px;
    margin-top: 0;
}
 
.banner-search {
    width: 100%;
}
.search-container  input[type=text] {
       padding: 6px 70px 0 12px;
    margin-top: 8px;
    font-size: 20px;
    background: transparent;
    border: 2px solid #ffffff;
    height: 58px;
    color: #ffffff;
    border-radius: 6px 0px 0px 6px
}
.search-container input[type=text]::placeholder{color: #000;}
  .search-container button {
     float: right;
    padding: 8px 19px;
    margin-top: 8px;
    margin-right: 0;
    background: #df8d54;
    font-size: 17px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: -3px;
    top: 0;
    height: 58px;
    border-radius: 0px 4px 4px 0px;
}

.search-container button:hover {
    background: #df8d54;
}
.search-container {
    width: 585px;
    margin: 54px auto 10%;
    position: relative;
}
.search-container input[type=text] {
  
    width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

.search-container input[type=text]:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    
}
.banner-textbtm {
    text-align: center;
    width: 100%;    margin-bottom: 30px;
}
.banner h5 {
    display: inline-block;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}
.banner a {
    border: 2px solid #df8d54;
    padding: 10px 30px;
    border-radius: 4px;
    margin: 0px 26px;
    font-size: 18px;
    color: #df8d54;
	 
    font-weight: bold;
}
.banner a:hover, .banner a:focus{
background:#df8d54;
color:#ffffff;

border-color:#df8d54;
}

.section-padding {
    padding: 60px 0px;
}
.section-heading h2,.recommended_txt h1{
    font-size: 22px;
    font-weight: 600;     display: inline-block;
    color: #6e5d5d;width:100%;
}
.looktext-box h3 {
    font-size: 18px;
    line-height: normal;
    color: #6e5d5d;
}
.looktext-box p {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 10px 0px;
}
.looktext-box a {
    color: #df8d54;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}
.lookimg-box {
    height: 100px;
    overflow: hidden;
}
.section-content {
    padding: 50px 0px 0px;
}
.hover-box:hover {
    box-shadow: 0px 0px 13px #dddddd;
}
.hover-box {
    padding: 30px 0px 40px;cursor: pointer;
}
.hover-box:hover a {
    border-color: #df8d54;
}
.looktext-box {
    padding: 0px 20px;
}
.hover-box:hover h3 {
    color: #df8d54;
}
.bg-color-grey {
    background-color: #fbfafa;
}

.featured-grid {
    width: 100%;
}
.dark-bgcolor {
    background: #615252;
}

footer {
    padding: 40px 0px;
}
ul.page-list {
    color: #fff;
    padding: 0px;
	margin: 0px;
	list-style:none;
}
ul.page-list li a {
    color: #ffffff;
    font-weight: 300 ;
    text-transform: capitalize;
    margin-bottom: 10px;font-size: 16px;
    display: inline-block;
}
ul.page-list li a:hover { 
   /*  opacity: 0.6; */
   color:#df8d54;
}
.ft-part h3{color: #ffffff;
    font-weight: 300 ;font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;}
.ft-part h4{
color: #ffffff;width:100%;
    font-weight: 300 ;font-size: 16px; 
    margin-bottom: 10px;
    display: inline-block;}
	
/*************************************FEATURED SECTION	START**************************/
.a_container .a_header .list_view-selected {
      width: 22px;
      height: 22px;
      object-fit: contain;
      margin-right: 16px;
      margin-top: 9px; }
    .a_container .a_header .grid_view {
      width: 22px;
      height: 22px;
      object-fit: contain;
      margin-top: 9px; }
    .a_container .a_header .request-btn {
      height: 40px;
      width: 184px;
      margin-right: 17px;
      object-fit: contain;
      font-size: 16px;
      color: #fff;
      background-color: #df8d54;
      display: inline-block;
      float: right; }
    .a_container .a_header h3 {
      display: inline-block;
      margin-right: 338px;
      font-size: 20px; }
    .a_container .a_header div {
      display: inline-block;
      margin-right: 44px; }
      .a_container .a_header div a {
        color: #fbfafa; }
  .a_container .a_footer {
    font-family: "Poppins", sans-serif;
    margin-top: 0; }
    .a_container .a_footer p {
      margin: 0; }
      .a_container .a_footer p a {
        text-decoration: none;
        color: #df8d54; }

.item.list-group-item {
  float: none;
  width: 940px;
  border-radius: 4px;
  background-color: #fff;
  margin: 10px auto;
  border: 0;
  padding: 0;
  font-family: "Poppins", sans-serif; }
  .item.list-group-item:hover h4 {
    color: #df8d54; }
  .item.list-group-item:hover a {
    text-decoration: none; }
  .item.list-group-item h4 {
    font-size: 24px;
    color: #615252;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 0; }
  .item.list-group-item .list-group-item-text {
    margin: 6px 0 28px;
    font-size: 22px;
    text-align: left; }
  .item.list-group-item .btn-pos {
    text-align: left;
    padding-left: 10px; }
  .item.list-group-item .a-btn {
    text-decoration: none;
    color: #615252;
    border: 1px solid #615252;
    border-radius: 15px;
    margin-right: 11px;
    display: inline-block;
    float: left; }
    .item.list-group-item .a-btn:hover {
      background-color: #df8d54;
      color: #fff;
      border: 1px solid #df8d54; }
  .item.list-group-item .item-footer-status {
    vertical-align: bottom;
    text-align: left;
    color: #212121;
    padding-left: 10px;
    margin-top: 55px;
    margin-bottom: 27px;
    padding: 0; }
    .item.list-group-item .item-footer-status p {
      margin: 0px;
      display: inline-block;
      clear: both;
      padding-right: 15px;
      padding-left: 10px;
      text-align: left; }
      .item.list-group-item .item-footer-status p strong {
        color: #d8d8d8; }
  .item.list-group-item .col-xs-12 .col-md-6 div {
    padding-left: 10px; }
  .item.list-group-item .add_to_favorites {
    width: 18px;
    height: 17px;
    object-fit: contain;
    vertical-align: bottom;
    text-align: right;
    float: right; }

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
  box-shadow: 0 6px 20px 0 rgba(202, 200, 200, 0.45); }

.item.list-group-item .list-group-image {
  margin-right: 10px; }

.item.list-group-item .thumbnail {
  margin-bottom: 0px; }

.item.list-group-item .caption {
  padding: 0px; }

/* .item.list-group-item:nth-of-type(odd) {
  background: #eeeeee; } */

.item.list-group-item:before, .item.list-group-item:after {
  display: table;
  content: " "; }

.item.list-group-item img {
  margin: 10px; }

.item.list-group-item:after {
  clear: both; }

.list-group-item-text {
  margin: 45px 0 32px;
  font-size: 22px;
  text-align: left; }

.item.grid-group-item .thumbnail {
  margin-bottom: 0; }

.item.grid-group-item {
  float: left;
  width: 344px;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 60px;
  border: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  margin-right: 17.5px;
  margin-left: 17.5px; }
  .item.grid-group-item .caption {
    height: 560px; }
  .item.grid-group-item:hover h4 {
    color: #df8d54; }
  .item.grid-group-item h4 {
    font-size: 24px;
    color: #615252;
    margin-top: 17px;
    text-align: left; }
  .item.grid-group-item .btn-pos {
    text-align: left;
    padding-left: 10px; }
  .item.grid-group-item .a-btn {
    text-decoration: none;
    color: #615252;
    border: 1px solid #615252;
    border-radius: 15px;
    margin-right: 11px;
    margin-top: 10px;
    display: block;
    width: fit-content; }
    .item.grid-group-item .a-btn:hover {
      background-color: #df8d54;
      color: #fff;
      border: 1px solid #df8d54; }
  .item.grid-group-item .item-footer-status {
    vertical-align: bottom;
    text-align: left;
    color: #212121;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0;
    border-top: 1px solid #fbfafa; }
    .item.grid-group-item .item-footer-status p {
      margin: 0px;
      display: inline-block;
      clear: both;
      padding-top: 10px;
      padding-right: 15px;
      padding-left: 10px;
      text-align: left; }
      .item.grid-group-item .item-footer-status p strong {
        color: #d8d8d8; }
  .item.grid-group-item .col-xs-12 .col-md-6 div {
    padding-left: 10px; }
  .item.grid-group-item .list-group-item-text {
    margin: 21px 0 26px;
    font-size: 22px;
    text-align: left; }
  .item.grid-group-item .add_to_favorites {
    width: 18px;
    height: 17px;
    object-fit: contain;
    vertical-align: bottom;
    position: absolute;
    left: 306px;
    top: 257px; }
  .item.grid-group-item .item-image {
    width: 324px;
    height: 220px !important;
    float: left;
    margin: 5px 5px 10px; }

.item.grid-group-item:nth-of-type(odd):hover, .item.grid-group-item:hover {
  box-shadow: 0 6px 20px 0 rgba(202, 200, 200, 0.45); }

.item-image {
  width: 290px;
  height: 220px !important;
  float: left; }
  
.category-hover {
  width: 15px;
  height: 14px;
  object-fit: contain;
  display: inline-block;
  margin: 0px !important;
  margin-right: 9px !important;
  float: left;
  color: #212121; }

.location-hover {
  width: 15px;
  height: 14px;
  object-fit: contain;
  margin: 0px !important;
  margin-right: 9px !important;
  float: left;
  color: #212121; }

.location {
  width: 12px;
  height: 16px;
  object-fit: contain;
  display: inline-block;
  margin-right: 9px; }

.list-group {
  max-width: 1137px;
  height: auto;
  margin: auto;
  border: 0px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0); }
.grid-group-item .row {
    display: inline-block;    margin: 0;
}
a#next{    color: #df8d54;}
/*************************************FEATURED SECTION	END**************************/	
/*************************************testimonial css ******************************/

.section-project {
  max-width: 1920px;
  height: 526px;
  padding-top: 60px;
  background-color: #fbfafa; }

.section__title {
  text-align: center;
  color: #615252;
  display: block;
  font-size: 20px;
  line-height: 1;
  margin: 0 0 50px; }

.project-carousel {
  position: relative;
  padding: 0; }

.project-strip {
  max-width: 911px;
  height: 196px;
  margin: 80px auto 161px;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  opacity: .5; }

.project-strip .project {
  width: 352px;
  height: 196px; }
  .project-strip .project .project-back {
    background-color: #fff; }
    .project-strip .project .project-back h3 {
      margin-left: 16px;
      margin-top: 34px;
      margin-bottom: 0;
      font-size: 16px; }
    .project-strip .project .project-back h5 {
      margin-top: 0;
      margin-left: 16px;
      margin-bottom: 0;
      font-size: 10px; }
    .project-strip .project .project-back p {
      height: 74px;
      width: 181px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;
      /* number of lines to show */
      line-height: 16.66px;
      font-size: 10px;
      margin-left: 16px;
      margin-top: 23px;
      margin-bottom: 34px; }
    .project-strip .project .project-back .person-img {
      width: 131px;
      height: 196px;
      background-color: #2b2323; }
    .project-strip .project .project-back .no-padding {
      padding: 0; }

.project-strip .project-back {
  width: 352px;
  height: 196px; }

.project-screen {
  display: flow;
  width: 460px;
  height: 256px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: -30px auto 60px;
  z-index: 1;
  background-color: #333; }

.project-detail {
  position: absolute;
  left: 0;
  right: 0;
  width: 460px;
  height: 256px;
  z-index: 1;
  background-color: #333; }

.project-screen .screen-frame {
  content: " ";
  max-width: 460px;
  height: 256px;
  position: absolute;
  background-repeat: no-repeat; }

.project-screen .project {
  margin-right: -100%;
  float: left; }

.project-screen .project {
  width: 460px;
  height: 256px; }
  .project-screen .project blockquote {
    height: 256px;
    position: relative;
    background: #fff;
    margin-top: 0;
    margin-right: 0;
    margin-left: 27px;
    margin-bottom: 0;
    padding: 0;
    border: 0;
    bottom: 20px; }
    .project-screen .project blockquote::before, .project-screen .project blockquote::after {
      top: 0;
      bottom: 0;
      width: 25px;
      content: '';
      position: absolute; }
    .project-screen .project blockquote::before {
      right: 100%; }
    .project-screen .project blockquote::after {
      left: 100%; }
    .project-screen .project blockquote div {
      margin: 0;
      font-size: 1.5em; }
      .project-screen .project blockquote div::before {
        top: -47px;
        left: -5px;
        color: #f6c57f;
        content: '“';
        font-size: 140px;
        position: absolute; }
      .project-screen .project blockquote div::after {
        right: -5px;
        top: 206.2px;
        color: #f6c57f;
        content: '”';
        bottom: -32px;
        font-size: 140px;
        position: absolute; }
  .project-screen .project .project-front {
    background-color: #fff;
    display: flex;
    margin: 0;
    border: 0;
    padding: 0; }
    .project-screen .project .project-front blockquote::before {
      display: none; }
    .project-screen .project .project-front blockquote::after {
      width: 50px;
      border-radius: 0 3px 3px 0; }
    .project-screen .project .project-front h3 {
      padding-top: 45px;
      font-size: 24px;
      margin: 0; }
    .project-screen .project .project-front h5 {
      margin: 0;
      font-size: 10px; }
    .project-screen .project .project-front p {
      margin-top: 26px;
      margin-bottom: 48px;
      width: 236px;
      height: 130px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      font-size: 13px; }
    .project-screen .project .project-front .person-img {
      width: 171px;
      height: 256px; }
    .project-screen .project .project-front .no-margin {
      margin: 0; }

.ow {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto; }

.sd-container {
  margin: auto;
  padding-top: 60px;
  background-color: #f6f4f2;
  height: 268px; 
  width: 100%;
  max-width: 100%;
}

.hide-btn {
  color: #fff;
  position: absolute;
  right: 330px;
  top: -15px;
  background-color: #df8d54;
  width: 40px;
  height: 40px; }
  /*************************************testimonial css end *************************/
/*********************************logo slider section start***********************/
.rel-pos {
  position: relative;
  background-color: #f6f4f2;
  min-height: 30px; }

.sd-slider {
  max-width: 940px;
  margin: auto;
  padding: auto; }
  .sd-slider .slick-prev,
  .sd-slider .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 10px;
    height: 19px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #df8d54;
    border: none;
    outline: none;
    background: transparent; }
  .sd-slider .slick-prev:hover,
  .sd-slider .slick-prev:focus,
  .sd-slider .slick-next:hover,
  .sd-slider .slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent; }
  .sd-slider .slick-prev:hover:before,
  .sd-slider .slick-prev:focus:before,
  .sd-slider .slick-next:hover:before,
  .sd-slider .slick-next:focus:before {
    opacity: 1; }
  .sd-slider .slick-prev.slick-disabled:before,
  .sd-slider .slick-next.slick-disabled:before {
    opacity: .25; }
  .sd-slider .slick-prev:before,
  .sd-slider .slick-next:before {
    line-height: 1;
    opacity: .75;
    color: #df8d54;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .sd-slider .slick-prev {
    left: -51.2px; }
  .sd-slider [dir='rtl'] .slick-prev {
    right: -25px;
    left: auto; }
  .sd-slider .slick-prev:before {
    content: url("../icon/slick-previous.png"); }
  .sd-slider [dir='rtl'] .slick-prev:before {
    content: url("../icon/slick-next.png"); }
  .sd-slider .slick-next {
    right: -51.2px; }
  .sd-slider [dir='rtl'] .slick-next {
    right: auto;
    left: -25px; }
  .sd-slider .slick-next:before {
    content: url("../icon/slick-next.png"); }
  .sd-slider [dir='rtl'] .slick-next:before {
    content: url("../icon/slick-previous.png"); }
  .sd-slider div {
    margin: auto;
    display: inline-block;
    text-align: center; }
    .sd-slider div img {
      width: 40px;
      height: 40px;
      margin-left: 50px; }
/*********************************logo slider section end***********************/



/* What to sell you business */
	.what_business {
  background: none repeat scroll 0 0 #e6e5e5;
  display: block;
  padding: 45px 0;
  text-align: center;
  width: 100%;
  margin-top:-7px;
}
	.what_business h1 {
  color: #2b2323;
  display: inline-block;
  font-size: 34px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
  .what_business > a {
  background: none repeat scroll 0 0 #df8d54;
  border-radius: 8px;
  color: #fff;
  font-size: 29px;
  font-weight: 600;
  margin-left: 25px;
  padding: 15px 20px;
  text-transform: uppercase;
}
/* What to sell you business  end */
	
/* Form step start here */
  .stepwizard-step p {
    margin-top: 10px;
    color: #6e5d5d;
    font-family: Roboto;
    font-weight: 400;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 63px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 86%;
    height: 2px;
    background-color: #ccc;
    z-order: 0;
    margin: 0 auto;
    display: block;
    left: 49%;
    right: 0;
    transform: translate(-50%,0);
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  background: none repeat scroll 0 0 #d5d3d3;
  border: medium none;
  border-radius: 15px;
  font-size: 0;
  height: 20px;
  line-height: 1.42857;
  padding: 6px 0;
  text-align: center;
  width: 20px;
  -webkit-appearance: none !important;
}
.step_section .btn.focus, .step_section .btn:focus{background: #6e5d5d;box-shadow: none;}
.step_section  .btn-primary:hover{background: #6e5d5d;}
.step_txt{font-size: 32px;font-weight: 600;font-family: Roboto;color: #6e5d5d;text-transform: uppercase;text-align: center;margin-bottom:  50px;}
.step_section {
  padding: 70px 0;
}
.Step_txt {
  margin: 50px auto 0;
  text-align: center;
  width: 70%;
}
.step_btb > a {
  background: none repeat scroll 0 0 #df8d54;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin: 0 11px;
  padding: 11px 0;
  text-transform: uppercase;
  width: 160px !important;
  border: 1px solid #df8d54;
}
.step_btb > a:hover {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #df8d54;
  color: #df8d54;
}
.step_btb > a.active{
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #df8d54;
  text-decoration: none;
  color: #df8d54;
}
.step_btb {
    margin-top: 50px;
}

/* Form step End here*/

/* Recomanded section start */

.recommended_section .grid-group-item {
  display: block !important;
}
.recommended_txt h1{text-transform: uppercase;}
.recommended_txt {margin-bottom: 80px;text-align: center;}
.recommended_section .item.grid-group-item{background: #fbfafa;}
.a_footer {
  margin-top: 30px;
}
/* Recomanded section end */

/* Slider Start here */
  .slider_test{width:100%; display: inline-block;}
.slider4{width:100%; display: inline-block;}
.slider_txt > h3 {
  color: #6e5d5d;
  font-size: 20px;
  margin: 10px 0;
}
.slider_txt > p {
  color: #2b2323;
  font-size: 20px;
  font-weight: 600;
  margin: 11px 0;
}
/* Slider End here */


@media (min-width: 1200px){
.container {
    width: 1170px !important;
    max-width: 100%;
}
.row.text-center.rel-pos {
    margin: 0;
}
}
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
 .search-container input[type=text],  .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
   .search-container  input[type=text] {
    border: 1px solid #ccc;  
  }
}


