/*
Theme Name: Avada Child
Description: Child theme for Avada theme
Author: ThemeFusion
Author URI: https://theme-fusion.com
Template: Avada
Version: 1.0.0
Text Domain:  Avada
*/
header .fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-toggle-icon-line {
    height: 4px;
    width: 30px;
    background-color: #df8d54;
    border-radius: 4px;
}
header .fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-flyout-menu-toggle:hover .fusion-toggle-icon-line, .fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-flyout-search-toggle:hover .fusion-toggle-icon-line {
    background-color: #df8d54;
}
.header_right {
    width: auto;
    display: inline-block;
}
.header_right div {
       width: auto;
    float: left; 
}

ul#menu-top-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul#menu-top-nav li {
    list-style: none;
    color: #ffffff;
    float: left;
}
.header_right ul li a {
    color: #ffffff;
    float: left;
    width: auto;
    text-transform: uppercase;
    padding: 0px 12px;
    line-height: 54px;
    text-decoration: none;
    font-size: 14px;
    margin: 0 10px 0 0 !important;
}
.header_right  ul li:last-child a {
    margin: 0 !important;
	font-weight: 600;
}
.switcher .selected a{padding: 0 0 0 5px !important;}

.header_right  ul li.current-menu-item a, .header_right  ul li a:hover, .header_right  ul li:last-child a{
    background: #5cb6d0;
}
header #side-header .fusion-logo, header .fusion-header .fusion-logo {
    margin-top: 0; 
    margin-bottom: 0; 
}
.fusion-header-has-flyout-menu .fusion-header {
  
    height: auto !important;
}
div#text-3, #gtranslate-2 {
    padding-top: 13px;
	margin: 0 8px;
}
.switcher .selected a {
      width: auto!important;
    border: none !important;
    color: #ffffff !important;
    line-height: 27px;
    font-size: 14px;
}
.switcher {
    overflow: hidden;
    width: auto !important;
}
.switcher .option {    
    width: 100px !important;
    max-height: 100px !important ;
    position: absolute !important;
    top: 100%;
}
.switcher .selected {
    background: none !important;
    border: none !important;
    width: 68px;
}
.switcher .selected a img {
    display: none !important;
}

.switcher .selected a { 
    background: url(http://112.196.9.211:8888/companymarekt.ch/wp-content/uploads/2018/03/downarrow-1.png) 54px center no-repeat !important;
    background-size: 8px!important;
    opacity: 1 !important;
}
.phone {
    margin: 0px 8px 0 0;
}
.fusion-header-has-flyout-menu .fusion-header-v6-content {  
    text-align: center;
}
.fusion-header-has-flyout-menu .fusion-header-v6-content .fusion-logo {
    z-index: 99999;
    position: absolute;
    margin: 0px auto;
    text-align: center;
    left: 0;
    right: 0; top: 11px;
}
.fusion-logo a {
    display: block;
    width: 200px !important;
    margin: 0px auto;
}
.fusion-header-has-flyout-menu .fusion-flyout-menu-icons {
  
    z-index: 999999 !important;
    position: relative;
}
.header_right {
  
    z-index: 999999 !important;
    position: relative;
}
.fusion-header-has-flyout-menu.fusion-flyout-menu-active .fusion-flyout-menu {
    
    background: rgba(223, 141, 84, 0.5);
}
.fusion-main-menu > ul > li > a{
  
    font-size: 17px !important;
}
span.d {
    display: none;
}
/* .jssort121 .pav:before, .jssort121 .p:hover:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid #ffea00;
} */
.layout-wide-mode #wrapper{overflow: hidden;}


/* banner section */
	.searchfrm {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}
.searchfrm h1 {
    font-size: 30px !important;
    color: #fff !important;
    margin-bottom: 11px;
}
.searchfrm p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 5px !important;
}
.searchfrm button.wp_autosearch_submit {
    background: #df8d54 !important;
    width: 53px !important;
    height: 51px !important;
    vertical-align: top;
    border: 2px solid #df8d54;
	border-radius: 0 4px 4px 0 !important;
}
.searchfrm h3 {
    font-size: 22px!important;
    color: #fff!important;
    margin: 0;
    line-height: 19px!important;
    font-weight: 600!important;
}
.searchfrm  .wp_autosearch_form_wrapper {
    width: 50%;
    border: none !important;
    height: auto !important;
    background-color: transparent !important;
    position: relative;
    margin: 0 auto;
}
.searchfrm input.wp_autosearch_input.ac_input {
    width: 93% !important;
    background: transparent !important;
    display: inline-block;
    border: 2px solid #fff !important;
    border-radius: 4px 0 0 4px;
	padding-left:12px !important;
	font-size: 20px;
}
.searchfrm input.wp_autosearch_input.ac_input::placeholder{color: #fff !important; }
.searchfrm .wizardinfosys_autosearch_wrapper {
    width: 100%;
    overflow: hidden;
    margin-top: 70px;
}
.searchfrm button.adbuss {
    font-size: 18px;
    border: 2px solid #df8d54;
    background: transparent;
    border-radius: 6px;
    padding: 7px 30px;
}
.searchfrm button.adbuss a {
    color: #df8d54;
}
.sell_bussiness h1 {
    font-size: 22px !important;
    display: inline-block;
    font-weight: 500;
    margin-right: 40px;
}
.sell_bussiness p {
    display: inline-block;
}
.sell_bussiness {
    margin-top: 70px;
}
.jssort121 {
    z-index: 99;
}
.searchfrm button.adbuss:hover {
    background: #df8d54 !important;}
	.searchfrm button.adbuss:hover a{color: #fff;}
	.fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-flyout-menu-toggle{color: #000;}
	.fusion-header-has-flyout-menu.fusion-flyout-active .fusion-flyout-menu-bg, .fusion-header-has-flyout-menu.fusion-flyout-menu-active .fusion-flyout-menu, .fusion-header-has-flyout-menu.fusion-flyout-search-active .fusion-flyout-search{top:54px !important;margin-top:0 !important;}
.jssort121 .p .t{line-height: 32px !important;}
/* banner section end*/


/* what are you looking */
.what_wehome {
    margin: 16px 0 22px;
    width: 100%;
}
.what_wehome h2.vc_custom_heading, .faq_txt h3, .price_pg h2, .price_pg_white h3,.term_condition h2,.helpfull_pg h3{
    font-size: 24px !important;
    color: #6e5d5d !important;
    margin: 0;
    font-weight: 600 !important;

}
.what_wehome .looktext-box h3 {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 6px;
}
.what_wehome .looktext-box p {
    font-size: 12px;
    padding: 0;
    color: #000;
    font-weight: 400;
}
.a_footer p a {
    font-size: 26px;
}
.section-content .a_footer {
    margin: 70px 0 0;
}
.a_footer p {margin-bottom: 0;}
.become_mamber h2.vc_custom_heading ,.section-project h2.section__title {
    font-size: 26px !important;
    font-weight: 600 !important;
    color:#6e5d5d !important;
}
.become_mamber {
    margin: 20px 0;
}
.become_mamber  .memer_content {
    font-size: 14px;
    font-weight: 600;
    color: #444444;
	text-align: left;
}
.become_mamber .vc_inner h2.vc_custom_heading {
    margin-bottom: 8px;
    font-weight: 400 !important;
    color: #7e6f6f !important;
}
.become_mamber  .wpb_text_column{text-align: center;}
.become_btn {
    margin-top: 58px;
}
.become_btn .vc_btn3.vc_btn3-color-turquoise.vc_btn3-style-modern {
    color: #fff;
    font-weight: 500;
    border-color: #00C1CF;
    background-color: #01adef;
    border-radius: 0;
    font-size: 24px;
}
/* what are you looking end*/


/* Success details */

.successful_details .sd-container {
    width: 100%;
}
.successful_details .slick-track {
    text-align: center !important;
    float: none;
}
.successful_details  .sd-slider div img {
    width: 20%;
    height: auto;
	cursor: pointer;
	margin: 0 auto;
}
.successful_details   .sd-slider div {
    margin: auto !important;
    text-align: center;
    float: none !important;
    display: inline-block !important;
}
.successful_details h2.section__title {
    font-size: 24px !important;
    color: #624f4f;
}	
.successful_details .sd-slider.slick-initialized.slick-slider {
    width: 100%;
    max-width: 100%;
}
.successful_details .wpb_text_column.wpb_content_element {
    margin-bottom: 0 !important;
}
.no-margin ul {
    padding: 0;
    position: absolute;
    bottom: 0;
	text-align: center;
}
.no-margin ul li{display: inline-block;width:22%;}
.successful_details.vc_row[data-vc-full-width]{overflow: visible !important;}

/* Success details end */

/* log in page */
	.page-id-15 main#main,.page-id-13  main#main {
    background-image: url(http://112.196.9.211:8888/companymarekt.ch/wp-content/uploads/2018/03/login.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	padding-left: 0;
    padding-right: 0;
}
.page-id-15 .fusion-row,.page-id-13 .fusion-row{
    max-width: 100% !important;
    width: 100%;
}
.page-id-15 .tml_login_form ,.page-id-13 .status-publish.hentry{
    width: 50%;
    float: left;
    text-align: center !important;
    padding: 0 10%;
	background: rgba(207,133,83,0.9);
}
.page-id-13 .status-publish.hentry{  width: 100%;}
.page-id-13  .tml {
    max-width: 40%;
    margin: 0 auto;
}
.page-id-15  .tml_register_form,.page-id-13 .status-publish.hentry input{float: left;width: 50%;max-width: 50%;padding: 0 10%;background: rgba(74,59,57,0.9);}
.page-id-13 .status-publish.hentry input{width: 100% !important;max-width:100% !important;}
.page-id-15  .post-content {
    display: flex;
}
.page-id-15 p.tml-submit-wrap {
    width: 100% !important;
	margin: 41px 0 !important;
}
.page-id-15 .tml_login_form input,.page-id-15 .tml-register input,.page-id-15 .tml .message,.page-id-15 .tml select ,.page-id-13 .status-publish.hentry input{
    border: 1px solid #fff;
    background: transparent !important;
    border-radius: 3px;
    outline: none;
	height: 46px !important;
	margin: 0 0 20px 0;
	padding-left: 10px;
}
.page-id-15 .post-content p.become_expert_txt span{text-transform: uppercase;font-weight: 600;color: #fff;}
.page-id-15 .tml .message {font-size: 14px;color: #fff;line-height: 30px;}
.page-id-15 input:placeholder{color: #908b8d !important;}
.page-id-15 .tml label{color: #908b8d;font-size: 12px;display: none;}
.page-id-15 input#wp-submit1 {color:000000;padding-top: 0;}
.page-id-15  .post-content p{margin-bottom: 0;}
.page-id-15 h1,.page-id-13 h1 {
    font-size: 25px !important;
    color: #fff !important;
    text-align: center;
    font-weight: 600 !important;
	margin-bottom: 45px;
}
.page-id-15  .tml-user-login-wrap label,.page-id-15  .tml-user-pass-wrap label,.page-id-13 label{display: none;}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px #fff !important;
}
.page-id-15  p.tml-rememberme-wrap,.page-id-13  p.tml-rememberme-wrap  {
    display: none !important;
}
.page-id-15 h2 {
    font-size: 12px !important;
    color: #9e9a99 !important;
    margin-bottom: 10px;
    margin-top: 65px;
    width: 100%;
    float: left;
}

.page-id-15 .post-content #registerform p {
    width: 48%;
    display: inline-block;
    margin: 0 1%;
    float: left;
	position: relative;
}
.page-id-15  p.tml-submit-wrap {
    text-align: center !important;
}
.page-id-15 p.tml-submit-wrap input ,.page-id-15  .sign_up_btn a,.page-id-13 p.tml-submit-wrap input#wp-submit{
    background: #fff !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    color: #df8d54;
    padding: 14px 29px !important;
}
.tml_login_form div#theme-my-login1 {
    max-width: 100%;
}
.page-id-15 .tml_login_form p.tml-submit-wrap input,.sign_up_btn a {
    height: 45px !important;
    width: 167px;
}
.page-id-15 .sign_up_btn a {
    background: #df8d54 !important;
    color: #fff !important;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}
.page-id-15 .post-content #registerform p.expert_short_text,.page-id-15 .post-content .answer_2 {
    width: 100%;
    margin: 0;
    vertical-align: top;
    font-size: 15px;
    padding-left: 35px;
    color: #9e9a99;
}

.page-id-15 .post-content input#become_expert ,.page-id-15 .post-content .answer_2 input {
    height: auto !important;
    vertical-align: middle;
    margin: 0 15px 0 0;
    padding: 0;
    opacity: 0;
    z-index: 999;
    position: relative;
	cursor: pointer;
}
.page-id-15 .post-content p.become_expert_txt {
    font-size: 15px;
    vertical-align: top;
    color: #9e9a99;
    width: 100% !important;
	margin-top: 55px !important;
}
.sign_up_btn {
    width: 100%;
    float: left;
}
.sign_up_btn {
    width: 100%;
    text-align: center;
    float: left;
	margin: 75px 0px 71px;
}
span.label_form {
    height: 18px;
    width: 18px;
    display: block;
    border: 1px solid #ddd;
    position: absolute;
    top: 6px;
    border-radius: 4px;
	cursor: pointer;
}
input#become_expert:checked ~ span.label_form {
    background: #ddd;
}
.page-id-15 input#wp-submit1 {
    margin-top: 70px;
}
.page-id-13 p.tml-submit-wrap input#wp-submit {
    width: 167px !important;
    margin: 0 auto !important;
    float: none;
    margin: 70px 0 50px !important;
}
.page-id-13  .tml-login .tml-submit-wrap {text-align: center !important;}
.page-id-13 h1 {
    margin-top:50px;
}
.page-id-15  .tml-action-links{display: none;}
.page-id-15 p.tml-submit-wrap input {
    background: #df8d54 !important;
    color: #fff;
}

/* log in page end */

/* payment page  */
.page-id-185 main#main {
    background: #fbfafa;padding: 50px 0;
}
.page-id-185 #content h1 {
    font-size: 30px !important;
    font-weight: 600 !important;
    color: #df8d54 !important;
	
}
.page-id-185 #content h3 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
	text-align: center;
}
.payment {
    display: inline-block;
    float: left;
    width: 175px;
    text-align: center;
    min-height: 180px;
    color: #000;
    vertical-align: middle;
    margin:40px 4px;
    line-height: 180px;
    border: 1px solid #000;
    transition: all .5s ease-in-out;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
	border-radius: 5px;
}
.payment.active{background-color: #df8d54;color: #fff;border-color: #df8d54;}
.payment input {
    display: none;
}
.payment:hover{box-shadow: 0 6px 20px 0 rgba(191, 187, 180, 0.9);background-color: #df8d54;color: #fff;border-color: #df8d54;}
.payment_btn {
    float: left;
    text-align: center;
    width: 100%;
}
.payment_btn input {
    background: #df8d54;
    border: navajowhite;
    padding: 12px 39px;
    color: #fff;
    font-weight: 600 !important;
    font: 16px Roboto;
    border-radius: 9px;
	cursor: pointer;
    outline: none;
}
p.success_message {
    float: left;
    width: 100%;
    text-align: center;
    margin: 22px 0 0;
    font-size: 14px;
    font-weight: 500;
    color: #df8d54;
}

/* payment page end */

/* faq page start */
.top_banner.vc_custom_1521708194469,.top_banner.vc_custom_1521805960561,.top_banner{
    padding: 85px 0 !important;
    text-align: center;
}

    .top_banner  h2,.top_banner h3 {
    font-size: 30px !important;
    margin-bottom: 0;
    margin-top:0;
}
.top_banner .vc_column-inner {
    margin: 0 !important;
    padding: 0 !important;
}

    .faq_txt ul.wpsm_nav-tabs {width: 30%;}
    .faq_txt #tab_container_206 ul.wpsm_nav-tabs li a, .faq_txt #tab_container_199 ul.wpsm_nav-tabs li a,.faq_txt #tab_container_209 ul.wpsm_nav-tabs li a{
    color: #df8d54 !important;
    font-weight: 500!important;
    font-family: Roboto !important;
    text-align: left !important;
    border-right: 0 !important;
    background: #fbfafa !important;
    border-left: 0 !important;
    font-size: 18px !important; 
}
 .faq_txt ul{background: #fbfafa !important;}
.faq_txt #tab_container_206 ul.wpsm_nav-tabs li.active a, .faq_txt #tab_container_199 ul.wpsm_nav-tabs li.active a,.faq_txt #tab_container_209 ul.wpsm_nav-tabs li.active a {
    color: #2b2323 !important;
    background: #fff !important;
    border-left: 4px solid #2b2323 !important;
    border-right:0px !important;
}
.faq_txt .tab-pane {
    font-family: Roboto !important;
    font-size: 16px;
}
.faq_txt #tab_container_206 .tab-content, .faq_txt #tab_container_199 .tab-content,.faq_txt #tab_container_209 .tab-content{border: none !important;}
/* faq page end */

/* Price list start */
    .page-id-101 #main{background-color: #fbfafa !important;}
    .price_pg.vc_custom_1521713698223,.term_contion_top_txt ,.helpfull_pg.vc_custom_1521724058201{background: #fbfafa !important;padding: 70px 0 !important;}
    .price_pg_white {background: #fff;box-shadow: 0px 3px 12px 3px rgba(240,240,239,0.9);padding: 60px 80px;margin-bottom: 90px;}
    .price_pg_white h3 {
    margin-bottom: 50px;
}
.price_pg_white h4 {
    font-size: 26px !important;
    color: #6e5d5d !important;
    font-family: Roboto;
    font-weight: 400 !important;
    margin-bottom: 0 !important;
}
.price_pg.vc_custom_1521713698223 .vc_column-inner,.helpfull_pg.vc_custom_1521724058201 .vc_column-inner {
    padding: 0 !important;
}
.price_pg_white p {
  font-size: 24px !important;
  line-height: 18px;
    color: #6e5d5d !important;
}
.price_pg_white ul {
  color: #212121;
  font-size: 16px;
  padding: 34px 0 20px 10px !important;
}
.price_pg_white ul li {
  font-size: 18px;
  padding: 12px 0;
  width: 100%;
  position: relative;
}
.price_pg_white ul li .menu-text {
  color: #2b2323;
  display: block;
  float: right;
  font-size: 21px;
  text-align: right;
}
.price_pg_white ul li::after {
    background: #eaeaea;
    content: "";
    height: 2px;
    z-index: 999;
    top: 50%;
    position: absolute;
    width: 73%;
    margin: 0 auto !important;
    display: block;
    transform: translate(-50%,-50%);
    left: 54%;

}
.price_pg_white ul li:first-child::after{width: 75%;transform: translate(-50%,-50%);left:52%;
}
.price_pg_white ul li:last-child::after{width: 54%;transform: translate(-50%,-50%);left:53%;}
.price_ftr_txt p {
    font-size: 20px;
    padding-right: 20%;
    color: #212121;margin-bottom: 50px;}
.price_ftr_txt {margin-bottom: 60px;}
.price_ftr_txt p a {color: #df8d54;}
.price_pg_white.literature_txt ul{padding: 0 0 20px 10px !important;}
.literature_txt .wpb_content_element:nth-child(3) ul li::after {width: 59% !important;left: 60%;}
.price_pg_white .vc_empty_space {
    display: none;
}
.price_pg_white .wpb_text_column.wpb_content_element{margin-bottom: 0 !important;}


/* Price list end */

/* TERMS AND CONDITIONS */
    .term_contion_top_txt {text-align: center;}
    .term_condition h3 {
  color: #6e5d5d !important;
  font-size: 25px !important;
  font-weight: 500 !important;
  line-height: 34px !important;
  margin-top: 32px !important;
}
.term_contion_top_txt {
  background: none repeat scroll 0 0 transparent !important;
  margin-bottom: 0 !important;
}
.trm_condition_btm_txt {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 90px !important;
}
.trm_condition_btm_txt ol {
  color: #212121;
  font-size: 20px;
  padding: 0 0 0 7px !important;
}
.trm_condition_btm_txt ol .counted-term b {
  font-weight: 500 !important;
}
.trm_condition_btm_txt p {
  color: #212121 !important;
  font-size: 18px;
  line-height: 1.5 !important;
}
.terms-and-conditions .term {
  margin-bottom: 50px !important;
  margin-top: 20px;
  padding: 0;
  font-size: 18px;
  list-style: none;
}
.terms-and-conditions.umfang{margin-top: 50px;}
.terms-and-conditions .term li {
    position: relative;
}
.terms-and-conditions .term li:after {
    content: "";
    height: 6px;
    width: 6px;
    position: absolute;
    display: block;
    background: #000;
    border-radius: 50%;
    left: -19px;
    top: 8px;
}
/* TERMS AND CONDITIONS end */

/* Helpfull page */
    .help_box {margin-bottom: 20px;}
    .helpfull_pg.vc_custom_1521724058201 {background: none repeat scroll 0 0 transparent !important;}
    .help_box .wpb_wrapper > p:first-child {color: #df8d54 !important;font-size: 18px !important;font-weight: 600;}
    .help_box .vc_column-inner  .wpb_wrapper > p:first-child  a{color: #df8d54 !important;}
    .help_box .wpb_wrapper > p {font-size: 18px;}
    .help_box .wpb_text_column.wpb_content_element{margin-bottom: 0px !important;cursor: pointer;}
    .help_box .vc_column-inner {
    padding-bottom: 15px;
  padding-top: 20px !important;
  transition: all .5s ease-in-out;
  border-radius: 5px;
}

.help_box .vc_column-inner:hover{box-shadow: 0px 1px 16px 10px rgba(210,210,210,.9);}
.help_bottom {margin-bottom: 70px;}
/* Helpfull page end */

/* About us page start */
    .about_us_txt {
    margin: 30px 0 60px;
}
    .about_us_txt h4 {
    font-size: 21px !important;
    color: #6e5d5d!important;
    font-weight: 500!important;
    text-align: center!important
}
.about_us_txt p {
    color: #212121;
    font-family: Roboto !important;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
/* About us page end */

/* Testimonial start */
.top_banner.testomonial_banner {
    background: #df8d54 !important;
    padding: 100px 0 70px !important;
}
.top_banner.testomonial_banner h3,.top_banner.testomonial_banner h4{color: #fff !important;}
.top_banner.testomonial_banner h4.top-sec-head {font-size: 20px;margin-bottom: 0;margin-top: 20px;}
.testomonial_banner .wpb_text_column {margin: 0;}
.top_banner.testomonial_banner h4.vc_custom_heading {font-size: 20px;font-weight: 600;margin-top: 0;line-height: 20px;}


/* Testimonial end */

/* footer start */
	.fusion-footer-widget-area{background-color: #615252 !important;border: none;}
	#avada-vertical-menu-widget-2 ul.menu li a, #avada-vertical-menu-widget-3 ul.menu li a, #avada-vertical-menu-widget-5 ul.menu li a, .ft-part h3, .ft-part h4, #wrapper .fusion-vertical-menu-widget .menu li a, #avada-vertical-menu-widget-6 ul.menu li a{
    font-size: 16px !important;
    color: #d5d3d3 !important;
    padding: 0 !important;
    line-height: normal;
    margin: 0;
    font-weight: 400;
	margin-bottom: 15px;
	text-align: left;
}

.fusion-footer-widget-area .ft-part ,.ft-part {
    width: 100%;
    max-width: 100%;
    padding: 0;
}
.fusion-footer-widget-area .fusion-columns{
    margin: 0 -15px;
    width: 100%;
    max-width: 100%;
    display: inline-block;
    margin: 0 auto;
}
.fusion-columns-5 .col-lg-2, .fusion-columns-5, .fusion-columns-5 , .fusion-columns-5{    
	width: 100% !important;
    display: inline-block;
    max-width: 19%;
    margin: 0 !important;
    padding: 0 !important;
}
.fusion-column.fusion-column-last.col-lg-2.col-md-2.col-sm-2 {
    max-width: 24%;
}
input#es_txt_email_pg {
    display: inline-block;
    padding: 17px 0px;
    background: transparent;
    border: 2px solid #a9a2a2 !important;
    border-radius: 5px;
    width: 97%;
	padding-left: 10px;
	color: #a9a2a2 !important;
}
.es_textbox, .es_button {
    display: inline-block !important;
    width: 60% !important;
	
}
.es_button {
    width: 42% !important;
    margin-left: -7px;
	padding-top: 0;
	vertical-align: top;
}
input#es_txt_button_pg {
    display: inline-block;
    width: 100%;
    background: transparent;
    border: 2px solid #df8d54;
    padding: 9px 3px;
    color: #fff;
    background: #df8d54;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
	border-radius: 0 4px 4px 0;
}
.es_lablebox {
    display: none;
}
.fusion-footer-copyright-area{background: #2b2323 !important;border: none !important; }
.ft-part h3 {
    float: left;
}
.fusion-social-networks {
     overflow: visible !important; 
}
.fusion-social-links-footer .fusion-social-networks {
    margin-top: 0;
    padding-top: 20px;
}
.footertext p {
    color: #fff;
    font-size: 14px;
	margin-bottom: 0;
	}
.page-id-15 .post-content #registerform p.answer_2,.page-id-15 .post-content #registerform p.answer {
    width: 491px;
    margin: 15px 0 0px;
    padding: 0;
    position: relative;
}
.page-id-15 .post-content #registerform p.answer_2 span.footet_txt,.page-id-15 .post-content #registerform p.answer  span.footet_txt {
    border: 2px solid #000;
    padding: 69px 0px;
    display: inline-block;
    color: white;
    float: left;
	width: 163px;
	font-size: 14px;
	text-align: center;
}
.page-id-15 .post-content #registerform p.answer span.footet_txt input {
    height: auto !important;
}
.page-id-15 .post-content .answer_2 input,p.answer span.footet_txt input {
    margin: 0 -19px 0 0px;
    opacity: 0;
}
span.footet_txt{cursor: pointer;}
span.footet_txt.active{background: #d2cfcf;color: #000 !important;}

.page-id-15 .post-content #registerform p.answer_2 span.footet_txt:nth-child(3){
    margin: 0 0 0 0;
    border-left: 0;
    border-right: 0;
}
.language{position: relative;}
	.dropdown {
  background: none repeat scroll 0 0 #fff;
  box-shadow: -7px 4px 14px 2px rgba(162, 162, 162, 0.8);
  overflow: hidden;
  position: absolute !important;
  right: -154px;
  top: 54px;
  width: 305px;
  display:none;
  z-index: 999;
  transition: all .5s ease-in-out;
}

.language:focus .dropdown{ visibility: hidden !important;}
		.image_sec {
  padding: 15px;
}
.dummy_img > img {
  height: 100%;
  width: 100%;
}
.dummy_img {
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  overflow: hidden;
  vertical-align: top;
  width: 50px;
}
.language .img_txt {display: inline-block; padding: 0 0 0 10px; width: 160px;}
.img_txt > a {
  color: #000;
  padding: 0;
  color: #2b2323;
}
.img_txt > h3 {
  color: #2b2323;
  font-size: 17px;margin-top: 0;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.image_sec {
  float: left;
  padding: 15px;
  width: 100%;
}
.img_txt > p {
  font-size: 14px;
  line-height: 14px;
  color: #2b2323;
}
.img_txt > button {
  background: none repeat scroll 0 0 #df8d54;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  margin-top: 8px;
  padding: 6px 11px;
  text-transform: uppercase;
}
.dropdown_txt {
  float: left;
  width: 100%;
}
.dropdown_txt li {
  border-top: 1px solid #e6e5e5;
  padding: 10px 15px;
  width: 100%;
}
.header-info ul li img {
  margin-right: 20px;
  width: 30px;
}
.right_txt {
  background: none repeat scroll 0 0 #ea6152;
  border-radius: 50%;
  color: #fff;
  float: right;
  font-size: 11px;
  font-weight: 600;
  height: 18px;
  line-height: 19px;
  margin-top: 3px;
  text-align: center;
  width: 18px;
}
.lft_txt {
  color: #2b2323;
  font-size: 14px;
}
/* footer end */
/* What to sell you business */
	.what_business {
  background: none repeat scroll 0 0 #e6e5e5;
  display: block;
  padding: 45px 0;
  text-align: center;
  width: 100%;
  margin-top:-7px;
}
	.what_business h1 {
  color: #2b2323;
  display: inline-block;
  font-size: 34px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
  .what_business > a {
  background: none repeat scroll 0 0 #df8d54;
  border-radius: 8px;
  color: #fff;
  font-size: 29px;
  font-weight: 600;
  margin-left: 25px;
  padding: 15px 20px;
  text-transform: uppercase;
}
/* What to sell you business  end */
	
/* Form step start here */
  .stepwizard-step p {
    margin-top: 10px;
    color: #6e5d5d;
    font-family: Roboto;
    font-weight: 400;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 63px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 86%;
    height: 2px;
    background-color: #ccc;
    z-order: 0;
    margin: 0 auto;
    display: block;
    left: 49%;
    right: 0;
    transform: translate(-50%,0);
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    background: none repeat scroll 0 0 #d5d3d3;
    border: medium none;
    border-radius: 15px;
    font-size: 0;
    height: 20px;
    line-height: 1.42857;
    padding: 6px 0;
    text-align: center;
    width: 20px;
    margin-bottom: -17px;
    -webkit-appearance: none !important;
    z-index: 99;
    position: relative;
    top: 0;
    left: 0;
}
.step_section .btn.focus, .step_section .btn:focus{background: #6e5d5d;box-shadow: none;}
.step_section  .btn-primary:hover{background: #6e5d5d;}
.step_txt{font-size: 32px;font-weight: 600;font-family: Roboto;color: #6e5d5d;text-transform: uppercase;text-align: center;margin-bottom:  50px;}
.step_section {
  padding: 70px 0;
}
.Step_txt {
  margin: 50px auto 0;
  text-align: center;
  width: 70%;
}
.step_btb > a {
  background: none repeat scroll 0 0 #df8d54;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin: 0 11px;
  padding: 11px 0;
  text-transform: uppercase;
  width: 160px !important;
  border: 1px solid #df8d54;
}
.step_btb > a:hover {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #df8d54;
  color: #df8d54;
}
.step_btb > a.active{
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #df8d54;
  text-decoration: none;
  color: #df8d54;
}
.step_btb {
    margin-top: 50px;
}

/* Form step End here*/

/* Recomanded section start */

.recommended_section .grid-group-item {
  display: block !important;
}
.recommended_txt h1{text-transform: uppercase;}
.recommended_txt {margin-bottom: 80px;text-align: center;}
.recommended_section .item.grid-group-item{background: #fbfafa;}
.a_footer {
  margin-top: 30px;
}
/* Recomanded section end */

/* Slider Start here */
  .slider_test{width:100%; display: inline-block;}
.slider4{width:100%; display: inline-block;}
.slider_txt > h3 {
  color: #6e5d5d;
  font-size: 20px;
  margin: 10px 0;
}
.slider_txt > p {
  color: #2b2323;
  font-size: 20px;
  font-weight: 600;
  margin: 11px 0;
}
/* Slider End here */
/* Home Page CSS Start */
.instagram{background:#f8f8f8;padding:30px 0px;}
.instagram .slider_test .slide{padding:0px 5px;}
.instagram .slider_test .slide a{display:block;background: #fff;}
.instagram .slider_test .slide .img-blk img{width:100%;height:auto;}
.instagram .slider_test .slide .txt-blk{padding:12px 10px;}
.instagram .slider_test .slide .txt-blk img{width:45px;height:45px;float:left;	border-radius:50%;margin-right:10px;}
.instagram .slider_test .slide .txt-blk .d-cell{display:table-cell;padding: 5px 0px;}
.instagram .slider_test .slide .txt-blk .d-cell h3{color:#4c4c4c;font-size: 14px; margin: 0 0 5px;}
.instagram .slider_test .slide .txt-blk .d-cell p{font-weight: 300; color:#4c4c4c;	font-size: 12px; margin: 0px;}
.instagram .bx-wrapper .bx-viewport{background:transparent;}
.instagram .bx-wrapper{margin:0px;}
.instagram .bx-wrapper .bx-next {background: rgba(0, 0, 0, 0) url("images/right-arrow.png") no-repeat scroll center center; right: -30px;}
.instagram .bx-wrapper .bx-prev {background: rgba(0, 0, 0, 0) url("images/left-arrow.png") no-repeat scroll center center; left: -40px;}
.instagram .bx-wrapper .bx-controls-direction a {height: 34px; width: 24px;}
.instagram .bx-pager.bx-default-pager {display: none;}
/* Home Page CSS Ends */
h5 {
    color: #ffffff !important;
    font-size: 20px !important;
    font-weight: 700;
    margin-bottom: 21px;
    background: #5cb85c;
}

.page-id-310 main#main {padding: 0;}
.page-id-310 #main .fusion-row {max-width: 100%;}
.page-id-310 .recommended_section.section-padding {margin: 0 auto; max-width: 1100px;}
.instagram .container {overflow: visible;}
.instagram .bx-wrapper .bx-controls-direction a {z-index: 22;}
.recommended_section .item.grid-group-item { margin-left: 16px; margin-right: 16px;}
.cus-advertisement h2 {color: #2b2323 !important; display: inline-block; font-size: 30px !important; font-weight: normal !important; margin: 15px 0 !important; padding: 0; text-align: center; width: 100%;}
.cus-advertisement form {background-color: #eee; border-radius: 4px; padding: 20px; border: 1px solid #ddd;}
.cus-advertisement .form-group .form-control {background-color: #fff; border: 1px solid #ccc; height: 40px; margin-bottom: 0px;}
.cus-advertisement .form-group{margin-bottom: 25px !important; position: relative;}
.cus-advertisement .form-group.upload-image .form-control {background-color: transparent; border: medium none; box-shadow: none; padding: 0;}
.cus-advertisement .form-group textarea.form-control {height: 100px;}
.cus-btn-submit {display: inline-block; text-align: center; width: 100%;}
.cus-advertisement .cus-btn-submit .form-control {display: inline-block; text-align: center; width: 200px; border: 1px solid #df8d54 !important; text-transform: uppercase; font-weight: bold !important; margin: 0px;  background-color: #df8d54 !important; color: #fff !important;}
.logo-add input {float: left; width: 50% !important; margin: 0 !important; height: auto !important;}
.logo-add {width: 100%; float: left; margin: 8px 0 !important;}
.add-attachment button.add_key_client_name_button {background-color: #df8d54;  border: 1px solid #df8d54; color: #fff; border-radius: 2px;margin-left: 10px;font-size: 13px; padding: 2px 9px;}
.add-attachment {margin-top: 4px;}
.add-attachment button.add_key_client_name_button:focus {background-color: #df8d54;  border: 1px solid #df8d54; box-shadow:none; outline: none;}
.cus-advertisement .help-block.with-errors {position: absolute; bottom: -21px; left: 0; width: 100%;}
.cus-advertisement h5 {text-align: center; font-size: 16px;color: green; margin-top: 0;}
.language .btn.btn-default.dropdown-toggle {background-color: transparent; border: medium none; box-shadow: none; color: #fff; background-image: none; text-shadow: none;}
.language .btn-group.show.open button {background-color: transparent; border: medium none; color: #fff;}
.language .btn-group.show.open .img_txt button {background-color: #df8d54; border: #df8d54;}
 .header_right .language a i {margin-left: 10px;}
.header_right .language a {width: 200px; display: inline-block; color: #333; float: left; padding:0; line-height: 20px;}
.lft_txt {float: left;}
.language img {float: left; margin:0 !important;}
.pay-now-btn.text-center {display: inline-block; padding-bottom: 20px; width: 100%;}
.amount_pay .amount_pay_inner {color: #df8d54; display: inline-block; font-size: 20px; font-weight: bold; padding: 10px;}
.pay-now-btn .amount_pay {display: inline-block; margin-right: 15px;}
.pay-now-btn .btn.btn-lg.btn-success {font-size: 15px; padding: 7px 15px;}
.language .dropdown {top: 33px; left: -140px;}
.create-ad-now > button { background-color: #df8d54 !important; border-radius: 4px; display: inline-block; font-weight: bold; padding: 0px; text-align: center; text-transform: uppercase; width: 100%; border: medium none;}
.create-ad-now {display: inline-block; width: 100% !important;}
.create-ad-now a{width: 100% !important; color:#fff !important; cursor: pointer; padding: 8px 0 !important;}
.lft_txt a:hover {background-color: hsla(0, 0%, 0%, 0) !important;}
.lft_txt > a {background-color: hsla(0, 0%, 0%, 0) !important;}
.pop-pay-now .modal-dialog {margin-top: 50px;}
.pop-pay-now .modal-header{display: inline-block; width: 100%;}
.pop-pay-now .close {color: hsl(0, 0%, 13%); opacity: 1;}
.pop-pay-now .btn {background: #df8d54; border: medium none;}
.pop-pay-now .btn:hover, .pop-pay-now .btn:focus, .pop-pay-now .btn:active{background: #d97e3f !important; border: medium none!important ;}
.pop-pay-now .modal-title {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 16px; font-weight: bold; text-transform: uppercase;}
.pop-pay-now .modal-footer {border: none; margin: 0;}
.language .dropdown.dropdown-menu {width: 340px;}
.create-ad-now > button {padding: 0 !important;}
.slider .slick-track .slick-slide.slick-current.slick-active {width: 610px !important;}
.slider .slick-track .slick-slide.slick-current.slick-active img {width: 100%;}
.slider .slick-track .slick-slide img {width: 100%;}
#loginform .input {color: hsl(0, 0%, 100%);}
.page-id-90 .wpb_text_column.wpb_content_element {float: left; margin: 38px 0 0 20px; width: auto;}
.page-id-90 .vc_icon_element.vc_icon_element-outer.vc_icon_element-align-left {float: left;margin: 30px 0 40px; width: auto;}
.page-id-90 .vc_icon_element .vc_icon_element-inner {background-color: hsl(0, 0%, 100%); border: 2px solid hsl(25, 68%, 60%) !important; border-radius: 50%; height: 70px !important; line-height: 70px !important; width: 70px !important;}
h2.testimonial_title {color: hsl(0, 8%, 40%) !important; font-family: Roboto !important; font-size: 22px !important; font-style: normal !important; font-weight: 500 !important; margin: 20px 0; text-align: center; text-transform: uppercase;}
h3.vc_custom_heading.help_ful_pg{color: hsl(0, 8%, 40%) !important; font-family: Roboto !important; font-size: 22px !important; font-style: normal !important; font-weight: 500 !important; margin: 20px 0; text-align: center; text-transform: uppercase;}


/* responsive start  */
@media screen and (min-width: 1800px) {
	.searchfrm input.wp_autosearch_input.ac_input{width: 96% !important;}

}
@media screen and (min-width: 1500px){
	.searchfrm .wizardinfosys_autosearch_wrapper{width: 60%;margin: 70px auto 0;}

}
@media screen and (max-width: 1199px) {
	.searchfrm{top:10%;}
	.searchfrm .wizardinfosys_autosearch_wrapper{margin-top: 60px;}
	.sell_bussiness {
    margin-top: 50px;
}
.item.list-group-item .a-btn{margin-right: 15px;}

/* success last */

.successful_details .sd-slider .slick-track {
    width: 100% !important;
}
.successful_details .sd-slider .slick-list.draggable {
    width: 100% !important;
}
.successful_details .sd-slider .slick-slide.slick-active {
    width: 20% !important;
    vertical-align: top;
}
.successful_details .sd-slider .slick-slide.slick-active {
    width: 26% !important;
    vertical-align: top;
    margin-bottom: 20px !important;
}
.sd-container{height: auto;}
.successful_details .sd-slider div img{width: 40px;}
.hide-btn{right: 30px;}
.item.grid-group-item {
    width: 32.3%;
    padding: 0 0 30px;
    margin-right: 0;
    margin-left: 0;
    margin: 0 .5%;
}
.item.grid-group-item .add_to_favorites{left: 296px;top: 244px;}
.item.grid-group-item h4{padding-right: 10px;}

/* end */
}
@media screen and (max-width: 1024px) {
	.jssort121 .p {display: none;}
}
@media screen and (max-width: 991px) {
	.searchfrm{top: 7%;}
	.searchfrm .wizardinfosys_autosearch_wrapper{margin-top: 50px;}
	.sell_bussiness {margin-top: 40px;}
	.container{width: 100% !important;}
	.fusion-columns.fusion-columns-5.fusion-widget-area {
    width: 100% !important;
}
 .fusion-columns-5 .col-lg-2, .fusion-columns-5, .fusion-columns-5, .fusion-columns-5 {
    width: 100% !important;
    max-width:25%;
    margin: 0 !important;
    float: left !important;
    margin-bottom: 20px !important;
}

.fusion-column.fusion-column-last.col-lg-2.col-md-2.col-sm-2 {
    clear: both;
}

.fusion-footer-widget-column:last-child {
    margin-bottom: 0;
    text-align: left;
}
.fusion-column.fusion-column-last.col-lg-2.col-md-2.col-sm-2 {
    clear: both;
    width: 50% !important;
    max-width: 100%;
}
.es_textbox{width: 59% !important;}
.es_button {
    width: 42% !important;
    margin-left: -13px;
	padding-bottom: 5px;
}
footer.fusion-footer-widget-area.fusion-widget-area {
    padding-bottom: 0;
}
.item.grid-group-item{width: 48%;margin: 0 1% 25px;}
.item.grid-group-item .add_to_favorites{left: 94%;}
}
@media screen and (max-width: 990px) {
	.searchfrm h1{font-size: 25px !important;margin-top: 0px;}
	
}
@media screen and (max-width: 962px){
	.item.list-group-item .a-btn {margin-right: 12px;}
	.item.list-group-item .a-btn{padding:9px 16px;font-size: 13px;}
	.category-hover,.location-hover{height: 18px;width: 18px;}
	.item.list-group-item .list-group-image {margin-right: 19px;}
	.item.list-group-item h4{font-size: 23px;}
	.item.list-group-item .list-group-item-text{font-size: 21px;}
	.item.list-group-item .item-footer-status p{font-size: 16px;padding-right: 15px;}
	.header_right ul li a{font-size: 13px;padding: 0px 9px;margin: 0 0 0 0 !important;}
	div#text-3, #gtranslate-2{margin:0;}
}
@media screen and (max-width: 850px) {
	.searchfrm h1{font-size: 25px !important;margin-top: 0px;}
	.searchfrm .wizardinfosys_autosearch_wrapper{margin-top: 40px;}
	.searchfrm input.wp_autosearch_input.ac_input{height:40px !important;font-size: 18px;}
	.searchfrm button.wp_autosearch_submit{height:40px;}
	.category-hover,.location-hover{margin-right: 4px !important;}
	.item.list-group-item .a-btn{margin-right: 10px;}
	.item.list-group-item .a-btn {padding: 7px 9px;font-size: 13px;}
	.item.list-group-item h4 {font-size: 21px;line-height: normal;}
	.item.list-group-item .item-footer-status p{padding-right: 16px;}
	.item.list-group-item .item-footer-status{margin-top: 20px;}
	.become_mamber h2.vc_custom_heading{font-size: 22px !important;}
	.searchfrm button.wp_autosearch_submit{width:50px !important;height: 43px !important;}
	.searchfrm button.wp_autosearch_submit img {width: 18px;}
    .faq_txt ul.wpsm_nav-tabs {width: 40%;}
    .faq_txt #tab_container_206 ul.wpsm_nav-tabs li a, .faq_txt #tab_container_199 ul.wpsm_nav-tabs li a, .faq_txt #tab_container_209 ul.wpsm_nav-tabs li a{font-size: 16px !important;padding: 10px 18px 10px 18px !important;}
    .top_banner.vc_custom_1521708194469 {padding: 50px 0 !important;}
    .top_banner h2{font-size: 24px !important;}
}
@media screen and (max-width: 800px) {
.fusion-header {
    background-color: rgba(35,31,32, 1) !important;
}
.fusion-header:focus {
    background-color: rgba(35,31,32, 1) !important;
}

@media screen and (max-width:780px){
	.item.list-group-item .a-btn{margin-right: 8px;}
}
@media screen and (max-width: 768px) {
    .faq_txt ul.wpsm_nav-tabs {width: 100% !important;}
}
@media screen and (max-width: 767px) {
	.searchfrm .wizardinfosys_autosearch_wrapper{margin-top:24px;}
	.sell_bussiness {margin-top: 29px;}
	.searchfrm p{font-size: 18px;}
	.searchfrm button.adbuss{padding: 3px 30px;font-size: 17px;}
	.what_wehome .looktext-box p{padding: 0 20%;}
	.what_wehome  .lookimg-box{height: auto;}
	.what_wehome  .lookimg-box img {width: 70px;}
	.section-padding {padding: 47px 0;}
	.item.list-group-item .list-group-image {
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: auto !important;
}
.item.list-group-item .a-btn {
    padding: 7px 15px;
    font-size: 14px;
}
.item.list-group-item .caption {
    width: 84%;
    float: left;
	padding: 0 20px 20px;
}
.item.list-group-item .item-footer-status{margin-top: 24px;}
.section-content {
    padding: 20px 0px 0px;
}
.section-content .a_footer {
    margin: 44px 0 0;
}
.section-content .a_footer  p a{font-size: 20px;
}
.become_mamber .memer_content{text-align: left;}
.become_mamber .wpb_text_column {
    text-align: center;
    margin-bottom: 15px;
}
.become_btn {
    margin-top: 29px;
}
.become_btn .vc_btn3.vc_btn3-color-turquoise.vc_btn3-style-modern{font-size: 18px;padding:14px 26px;}
.become_btn .vc_btn3-container.vc_btn3-center {
    margin-bottom: 0;
}
.section-project{padding-top: 36px;}
.section-project h2.section__title {
    margin-bottom: 0;
}
.fusion-columns-5 .col-lg-2, .fusion-columns-5, .fusion-columns-5, .fusion-columns-5{max-width: 50%;}
.header_right ul li a {
    display: none;
}
.header_right ul li.current-menu-item a, .header_right ul li a:hover, .header_right ul li:last-child a {
    background: #5cb6d0;
    display: block !important;
}
.phone {
    margin: 0;
}
}
@media screen and (max-width: 680px) {
	.item.grid-group-item{width: 100%;margin:0px 0 28px;}
	.item.grid-group-item .thumbnail{width: 100%;}
	.item.grid-group-item .item-image {
    width: 100%;
    height: 276px !important;
    float: left;
    object-fit: cover;
}
.item.grid-group-item .add_to_favorites{top:300px;}
.what_wehome h2.vc_custom_heading, .faq_txt h3, .price_pg h2, .price_pg_white h3, .term_condition h2, .helpfull_pg h3{font-size: 20px !important;margin-bottom: 10px !important;}
.faq_txt .wpb_content_element {margin-bottom: 0px !important;}
.faq_txt #tab_container_199 .tab-content,.faq_txt #tab_container_206 .tab-content,.faq_txt #tab_container_209 .tab-content{padding:10px 0px;}
.faq_txt .tab-pane{font-size: 14px;}
.faq_txt #tab_container_206 ul.wpsm_nav-tabs li a, .faq_txt #tab_container_199 ul.wpsm_nav-tabs li a, .faq_txt #tab_container_209 ul.wpsm_nav-tabs li a{padding: 7px 18px 7px 18px !important;}
    .top_banner h2{font-size: 20px !important;}
    .top_banner.vc_custom_1521708194469{padding: 40px 0 !important;}

}
@media screen and (max-width: 640px) {
	.searchfrm h1 {font-size: 22px !important;}
	.searchfrm .wizardinfosys_autosearch_wrapper{margin-top:20px;}
	.searchfrm input.wp_autosearch_input.ac_input,.searchfrm button.wp_autosearch_submit{height: 35px !important;}
	.searchfrm button.wp_autosearch_submit img {width: 19px;}
	.searchfrm h3{font-size: 18px !important;}
	.searchfrm p,.searchfrm button.adbuss{font-size: 16px;}
	.sell_bussiness h1{font-size: 20px !important;margin-right: 25px;}
	.sell_bussiness {margin-top: 25px;}
	.what_wehome h2.vc_custom_heading ,.wpb_wrapper .section-heading h2{font-size: 20px !important;}
	.hover-box {
  cursor: pointer;
  padding: 13px 0 24px;
}
.featured-section .btn-group.pull-right{margin-bottom: 0;}
#content{margin-bottom: 0 !important;}
}
@media screen and (max-width: 580px) {
	.container {width: 100% !important;}
	.searchfrm h1 {font-size: 20px !important;margin-bottom: 5px;}
	.searchfrm p,.searchfrm button.adbuss{font-size: 15px;}
	.searchfrm h3{font-size: 16px;}
	.searchfrm .wizardinfosys_autosearch_wrapper{margin-top: 15px;}
	.sell_bussiness {margin-top: 18px;}
	.sell_bussiness h1{font-size: 18px !important;}
	.searchfrm button.adbuss{padding: 2px 18px;}
	.wpb_text_column.wpb_content_element {
    margin-bottom: 0;
}
.what_wehome .looktext-box p {
  padding: 0 9%;
}
.what_wehome .lookimg-box img {
  width: 50px;
}
.section-padding {
  padding: 30px 0;
}
.what_wehome h2.vc_custom_heading,.wpb_wrapper .section-heading h2,.section-project h2.section__title {font-size: 20px !important;padding: 0 20px;}
.section-content .a_footer {
    margin: 22px 0 0;
}
.become_mamber .wpb_text_column {
    text-align: center;
    margin-bottom: 15px;
}
.become_btn .vc_btn3.vc_btn3-color-turquoise.vc_btn3-style-modern{padding: 10px 21px;font-size:16px;}
.become_btn {
    margin-top: 10px;
}
.fusion-logo a {
    width: 140px !important;
}
.fusion-logo img {
     display: none;
}
/* success last */
.successful_details .sd-slider .slick-slide.slick-active{
	    width: 21% !important;
}
.successful_details .sd-slider div img {
    width: 33%;
}
.successful_details .sd-slider .slick-slide.slick-active{margin-bottom: 15px !important}
.successful_details .section__title{margin: 0 0 30px;}
.sd-container{padding-top: 30px;}
.successful_details h2.section__title{font-size: 22px !important;}
.hide-btn{width: 40px;height: 32px;top: -10px;right: 30px;}
.become_mamber h2.vc_custom_heading {font-size: 20px !important;}
.item.grid-group-item h4 {font-size: 20px;margin-bottom: 0;}
.item.grid-group-item .list-group-item-text{margin: 9px 0 8px;font-size: 18px;}
.item.grid-group-item{margin-bottom: 0;}
.item.grid-group-item .caption {
    height: 502px;
}
.searchfrm button.wp_autosearch_submit{width: 40px !important;}
}
@media screen and (max-width: 520px) {
	.item.list-group-item h4{font-size: 19px;}
	.item.list-group-item .list-group-item-text{font-size: 18px;margin: 3px 0 11px;}
	.item.list-group-item .a-btn ,.item.grid-group-item .a-btn  {
    padding: 7px 19px;
    font-size: 14px;
    display: inline-block!important;
    float: none;
    margin-bottom: 14px;
    text-align: center;
	margin-right: 0;
    width: 70%;
}
.item.list-group-item .caption {
    width: 88%;
    float: left;
    padding: 0 0px 20px 20px;
}
.featured-section .btn-group.pull-right{margin-right: 0;}
.a_container .a_header .list_view-selected{width: 20px;
    height: 20px;margin-right: 10px;}
.a_container .a_header .grid_view{width: 20px;
    height: 20px;}
	.section-project{height: 484px;}
	.fusion-social-links-footer .fusion-social-networks{padding-top: 10px;}
}
@media screen and (max-width: 480px) {
	.searchfrm input.wp_autosearch_input.ac_input{font-size: 16px;}
	.searchfrm input.wp_autosearch_input.ac_input.searchfrm button.wp_autosearch_submit{height: 32px !important;}
	.searchfrm button.wp_autosearch_submit img {
    width: 17px;
}
.sell_bussiness {
    margin-top: 10px;
}
.searchfrm h1{font-size: 18px !important;}
.searchfrm h3{font-size: 15px!important;}
.searchfrm p,.searchfrm button.adbuss{font-size: 14px;}
.sell_bussiness h1{display: block;}
.searchfrm .wizardinfosys_autosearch_wrapper{margin-top:5px;}
.searchfrm input.wp_autosearch_input.ac_input,.searchfrm button.wp_autosearch_submit{height:29px !important;font-size: 14px;}
    .searchfrm button.wp_autosearch_submit{width: 40px !important;}
	.sell_bussiness{margin-top: 0;}

.searchfrm p {
    display: none;
}
	.sell_bussiness p {
    display: block;
}
.what_wehome .looktext-box p {
    padding: 0 0;
}
.item.list-group-item .caption {
    width: 86%;
}
.project-screen .project .project-front p{width: 226px;}
.project-screen .project .project-front .person-img {
    width: 150px;
    height: auto;
	object-fit: cover;
}
.no-margin ul{text-align: left;padding-left: 12px;}
.fusion-columns-5 .col-lg-2, .fusion-columns-5, .fusion-columns-5, .fusion-columns-5{max-width: 100%;}
.fusion-column.fusion-column-last.col-lg-2.col-md-2.col-sm-2 {
    clear: both;
    width: 100% !important;
    max-width: 100%;
}
input#es_txt_email_pg{width: 100%;}
.es_textbox {
    width: 100% !important;
}
input#es_txt_button_pg{width:120px;border-radius: 4px;}
.es_button{width: 100% !important;margin-left: 0;text-align: center;}
.searchfrm button.wp_autosearch_submit {
    height: 34px !important;
}
.header_right ul li a {
    font-size: 12px;
    padding: 0px 5px;
}
.phone a img {
    width: 20px;
    margin-top: 1px;
}
.fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-flyout-menu-toggle{
	    width: 14px;
}
}

@media screen and (max-width: 414px) {
	.searchfrm h1{font-size: 16px !important;}
	.searchfrm button.adbuss{padding: 0px 11px;}
	.item.list-group-item .a-btn, .item.grid-group-item .a-btn{width: 100%;}
	.item.list-group-item h4 {font-size: 17px;}
	.item.list-group-item .list-group-item-text {font-size: 16px;margin: 3px 0 10px;}
	.item.list-group-item img {
    margin: 10px 8px 0;
}
.item.list-group-item .add_to_favorites {
    width: 24px;}
	.item.list-group-item .item-footer-status p{font-size: 14px;}
	.section-content .a_footer p a {
    font-size: 18px;
}
.project-screen .project blockquote{margin-left: 10px;}
.project-screen .project blockquote{width:156px;}
.project-screen .project .project-front h3{    padding-top: 16px;
    font-size: 23px;}
.project-screen .project .project-front h5{font-size: 14px !important;width: 149px;}
.project-screen .project .project-front p {
    width: 210px;
}
.slick-dots {
    text-align: center;
    width: 100% !important;
    margin-top: 37px;
    max-width: 100%;
    position: relative;
    float: none;
    left: 14%;
    margin: 0 auto;
    transform: translate(-20%,0);
}
.fusion-body .fusion-footer-widget-area-center .fusion-columns .fusion-column {
    margin-bottom: 10px !important;
}
#avada-vertical-menu-widget-2 ul.menu li a, #avada-vertical-menu-widget-3 ul.menu li a, #avada-vertical-menu-widget-5 ul.menu li a, .ft-part h3, .ft-part h4, #wrapper .fusion-vertical-menu-widget .menu li a, #avada-vertical-menu-widget-6 ul.menu li a{margin-bottom: 7px;}
.footertext p{font-size: 12px;}
.fusion-footer-copyright-area{padding-top:10px  !important;padding-bottom: 0 !important;}
.successful_details .sd-slider .slick-slide.slick-active {
    width: 21% !important;
}
.item.grid-group-item .item-image {
    height: 229px !important;
}
.what_wehome h2.vc_custom_heading, .faq_txt h3, .price_pg h2, .price_pg_white h3, .term_condition h2, .helpfull_pg h3{font-size: 18px !important;margin-top: 0 !important;}
}
@media screen and (max-width: 380px){
	.searchfrm h3{display: none;}
	.searchfrm h1 {
    font-size: 15px !important;
}
.project-screen .project .project-front p {
    width: 190px;
}
.slick-dots {left: 10%;}
.item.grid-group-item h4{font-size: 18px;}
.item.grid-group-item .list-group-item-text{font-size: 16px;}
}
@media screen and (max-width: 360px){
.project-screen .project .project-front p {width: 157px;}
.slick-dots {left: 5%;}
}


