@charset "UTF-8";

/********************************new******************/
.image-slider1 {
    margin-bottom: 30px;margin-top:10px;
}
.d-container {
    margin: auto;
    max-width: 1092px;
    min-height: 900px;
    padding-bottom: 77px;
    padding-top: 34px;
}
.d-container .back-to-btn {  background-color: transparent;
    border: 0 none; color: #df8d54; margin: auto;}
	.button-lst-grd {
    background-color: #fff;
    border: 0 none;
    border-radius: 4px;
    float: none;
    font-family: "Poppins",sans-serif;
    margin: 24px 0 auto 20px;
    padding: 0;
    max-width: 940px;
}
.d-container .back-to-btn img {
    margin-right: 14.1px;
}
.d-body h3 {
    margin-left: 21px;
    margin-top: 10px;
}

.margin-top-38px {
    margin-top: 38px;
}
.button-lst-grd a {
    border: 1px solid #615252;
    border-radius: 15px;
    color: #615252;
    display: inline-block;
    margin-right: 11px;
    text-decoration: none;
}
.category-hover {
    color: #212121;
    display: inline-block;
    float: left;
    height: 14px;
    margin: 0 9px 0 0 !important;
    object-fit: contain;
    width: 15px;
}
.button-lst-grd a:hover {
    background-color: #df8d54;
    border: 1px solid #df8d54;
    color: #fff;
}
img{max-width:100%;}
.d-body .d-overview .d-overview-block1 {
    display: inline-block;
    margin-right: 88px;
}
.location-hover {
    color: #212121;
    float: left;
    height: 14px;
    margin: 0 9px 0 0 !important;
    object-fit: contain;
    width: 15px;
}
.d-body .d-overview {
    margin-left: 21px;
    margin-top: 60px;
    overflow: visible;
}
.d-body .d-overview p {
    font-size: 12px;
    margin: 0;
}
.d-body .d-overview label {
    color: #bcb9b9;
    font-size: 12px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.d-body .d-overview .d-overview-block2 {
    display: inline-block;
}
.d-body .d-descr {
    margin-left: 21px;
    margin-top: 60px;
}
.d-body .d-descr h4 {
    font-weight: bold;
}
.d-body .d-descr p {
    font-size: 12px;
    max-width: 722px;
}
.doc-section {
    border-top: 1px solid #e6e5e5;
    margin-top: 16.3px;
}
.doc-section .doc-item {
    border-bottom: 1px solid #e6e5e5;
}
.doc-section .doc-item .doc-icon {
    display: inline-block;
    margin: 19.7px 30px 25.3px 28px;
}
.doc-section .doc-item h5 {
    display: inline-block;
    margin: 37.7px 0 42.3px;
}
.a-hover {
    display: none;
    float: right;
    margin: 40px 27px 0 0;
}
.doc-section .doc-item:hover {
    box-shadow: 0 2px 10px 0 #cac8c8;
}
.doc-section .doc-item:hover .a-hover {
    display: inline-block;
}
.hide-btn {
    background-color: #df8d54;
    color: #fff;
    height: 40px;
    position: absolute;
    right: 10%;
    top: -15px;
    width: 40px;
}
.rel-pos {
    background-color: #f6f4f2;
    min-height: 30px;
    position: relative;
}
.button-box {
    text-align: center;
    width: 344px;
}
.button-box h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.button-box button {
    background-color: #df8d54;
    color: #fff;
    margin: 20px auto;
}
.share-btns {
    margin: 21px auto 0;
    padding: 0;
    width: 200px;
}
.share-btns a {
    display: inline-block;
    margin-right: 14px;
}

/*********************e*****************************/
a:hover{text-decoration:none;}
.a_container .a_header {
    color: #615252;
    display: inline-block;
    font-family: "Poppins",sans-serif;
    margin-bottom: 58px;
    margin-top: 60px;
    max-width: 1024px;
    text-align: center;
    width: 100%;
}
.a_container .a_header h3 {
    display: inline-block;
    font-size: 20px;
}
.event-list .event-date {
    display: inline-block;
    float: left;
    margin: 40px 30px auto 19px;
    text-align: center;
}
.event-list .item.list-group-item {
    background-color: #fff;
    border: 0 none;
    border-radius: 4px;
    float: none;
    font-family: "Poppins",sans-serif;
    margin: 10px auto;
    padding: 0;
    width: 940px;
}
.item.list-group-item .thumbnail {
    margin-bottom: 0;
}
.item-image {
    float: left;
    height: 220px !important;
    width: 290px;
}
.item.list-group-item:nth-of-type(2n+1):hover, .item.list-group-item:hover {
    box-shadow: 0 6px 20px 0 rgba(202, 200, 200, 0.45);
}
.event-list .item.list-group-item:hover h4 {
    color: #df8d54;
}
.event-list .event-date hr {
    border-color: #212121;
    margin-bottom: 11px;
    margin-top: 5px;
    width: 28px;
}
.event-list .item.list-group-item h4 {
    color: #615252;
    font-size: 24px;text-align:left;
    margin-top: 10px;
}
.event-list .event-date .date {
    font-size: 48px !important;
    margin: 0 !important;
}
.a_container .a_footer p a {
    color: #df8d54;
    text-decoration: none;
}
.event-list .event-date .month {
    font-size: 20px;
    margin: 0;
}

.event-list .event-sched {
    display: inline-block;
    margin-top: 8px;
}
.event-list .event-sched p {
    display: inline-block;
    margin-right: 40px;
}
.event-list .event-sched p span {
    margin-right: 11px;
}
.event-list .item.list-group-item .btn-pos {
    padding-left: 10px;
    text-align: left;
}
.event-list .event-overview {
    margin-left: 20px;
    margin-top: 37px;
}
.event-list .event-overview p {
    font-size: 12px;
    margin: 0;
}
.event-list .event-overview label {
    color: #bcb9b9;
    font-size: 12px;
    margin-bottom: 5px;
    margin-right: 10px;
    width: 140px;
}
.event-list .event-share-btns {
    bottom: -15px;
    display: inline-block;
    float: right;
    position: absolute;
    right: -28px;
    vertical-align: bottom;
}
.event-list .event-share-btns a {
    display: inline-block;
}
.event-list .event-share-btns a img {
    margin: 0 7px 0 0;
}
.event-list .item-image {
    display: inline-block;
    height: 220px;
    margin: 10px;
    width: 290px;
}
/*****************************/
.edit-profile-sec{padding:30px 15px;}
.edit-profile-sec .form-control{    border: 1px solid #d2d2d2;
    font-size: 13px;
    color: #747474;
    padding: 8px 15px;background:none;min-height:47px;

    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;}
.edit-profile-sec h2{text-align:center;color:#fff;margin-bottom:15px;}
.edit-profile-sec h5{text-align:left;color:#fff;margin-bottom:15px;margin-top:40px;}
.footet_txt {
    border: 2px solid #000;
    padding: 69px 0px;
    display: inline-block;
    color: #fff;
    float: left;cursor:pointer;
    width: 163px;
    font-size: 14px;
    text-align: center;
}
.footet_txt.active{background:#ccc;color:#000;}
.backimage::before {background-color:rgba(74,59,57,0.9);content:""; position:absolute; left:0; height:100%; width:100%; top:0px;}
.backimage {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6d/Istanbul_Bosphorus_Cruise_ship_Ruby_Princess_IMG_7926_1920.jpg);
    width: 100%;
    margin: 0;position:relative;
	
    padding-bottom:40px;
    text-align: center;
}
span.label_form {
    height: 18px;
    width: 18px;
    display: block;
    border: 1px solid #ddd;
    position: absolute;
    top: 0px;
    border-radius: 4px;
    cursor: pointer;
}
input#become_expert {    vertical-align: middle;
    margin: 0 15px 0 0;
    padding: 0;
    opacity: 0;
    z-index: 999;
    position: relative;cursor:pointer;}
input#become_expert:checked ~ span.label_form {
    background: rgb(221, 221, 221);
}
.become_expert_txt{position:relative;clear:both;text-align:left; padding-left:15px;color:#fff;margin:20px 0px;display:inline-block; width:100%;}
.reg-btn{    background: #df8d54 !important;
    color: #fff;padding: 14px 29px !important;    font-size: 15px !important;
    font-weight: 600 !important;margin-top:30px;}
	.footet_txt  input[type="radio"]{opacity:0;}
